<div>
  <section class="section">
    <div class="container">
      <div class="hero">
        <div class="hero-body">
          <h1 class="title">Release Notes</h1>
          <h2 class="subtitle">Latest version: {{ buildVersion }}</h2>
          <p>
            <a href="https://github.com/codee-club/contributors/issues"
              ><b-icon icon="bug" size="is-small"></b-icon> Found a bug?</a
            ><br />
            <a href="https://github.com/codee-club/contributors/issues"
              ><b-icon icon="charity" size="is-small"></b-icon> Have a feature
              suggestion?</a
            >
          </p>
        </div>
      </div>

      <table class="release-notes">
        <!-- 0.0.10 -->
        <tr>
          <td>
            <p>Jun 30, 2021</p>
          </td>
          <td>
            <h3>v0.0.10</h3>
            <h4>New Features</h4>
            <div class="content">
              <ul>
                <li>
                  <span class="tag">Stats</span> Abbreviate using shortscale (k,
                  M, B, etc)
                </li>
              </ul>
            </div>
            <h4>Bug Fixes</h4>
            <div class="content">
              <ul>
                <li>
                  <span class="tag">User Data</span> Fix broken production data
                </li>
              </ul>
            </div>
          </td>
        </tr>
        <!-- 0.0.9 -->
        <tr>
          <td>
            <p>Jun 28, 2021</p>
          </td>
          <td>
            <h3>v0.0.9</h3>
            <h4>Bug Fixes</h4>
            <div class="content">
              <ul>
                <li>
                  <span class="tag">Profile</span> Fixed crash related to
                  followers
                </li>
                <li>
                  <span class="tag">Profile</span> Fixed QR popup on change pic
                </li>
                <li>
                  <span class="tag">Notifications</span> Fixed crash related to
                  social links
                </li>
              </ul>
            </div>
          </td>
        </tr>
        <!-- 0.0.8 -->
        <tr>
          <td>
            <p>Jun 27, 2021</p>
          </td>
          <td>
            <h3>v0.0.8</h3>
            <h4>New Features</h4>
            <div class="content">
              <ul>
                <li>
                  <span class="tag">Problems</span> Alpha: Import students
                </li>
              </ul>
            </div>
          </td>
        </tr>
        <!-- 0.0.7 -->
        <tr>
          <td>
            <p>Jun 20, 2021</p>
          </td>
          <td>
            <h3>v0.0.7</h3>
            <h4>New Features</h4>
            <div class="content">
              <ul>
                <li>
                  <span class="tag">Problems</span> Support for new languages
                </li>
                <li>
                  <span class="tag">Teachers</span> Alpha: Create courses,
                  activities and problems
                </li>
                <li>
                  <span class="tag">Nav</span> Notifications about deadlines &
                  followers
                </li>
                <li>
                  <span class="tag">Profile</span> Link your other social
                  networks
                </li>
                <li>
                  <span class="tag">Profile</span> See followers/following
                </li>
                <li>
                  <span class="tag">Profile</span> Open a QR code for your
                  profile
                </li>
                <li>
                  <span class="tag">Community</span> Codee.Club is
                  <a href="https://www.facebook.com/Codee.Club">
                    now on Facebook
                  </a>
                  - sshhh; don't tell anyone! 🤫
                </li>
              </ul>
            </div>
          </td>
        </tr>
        <!-- 0.0.6 -->
        <tr>
          <td>
            <p>Jan 21, 2021</p>
          </td>
          <td>
            <h3>v0.0.6</h3>
            <h4>New Features</h4>
            <div class="content">
              <ul>
                <li>
                  <span class="tag">Results</span> New modal (popup) with
                  details about test failures
                </li>
                <li>
                  <span class="tag">Teacher</span> View activity progress by
                  student
                </li>
                <li>
                  <span class="tag">Admin</span> CLI for downloading scores from
                  a course activity
                </li>
                <li>
                  <span class="tag">Admin</span> Script to lookup users by name
                  (to help resolve bug reports)
                </li>
              </ul>
            </div>
            <h4>Bug Fixes</h4>
            <div class="content">
              <ul>
                <li>
                  <span class="tag">Tests</span> Fixed incorrect results when
                  the java runner timed out
                </li>
              </ul>
            </div>
          </td>
        </tr>
        <!-- 0.0.5 -->
        <tr>
          <td>
            <p>Jan 9, 2021</p>
          </td>
          <td>
            <h3>v0.0.5</h3>
            <h4>New Features</h4>
            <div class="content">
              <ul>
                <li>
                  <span class="tag">Profile</span> User profiles can be shared
                  publicly
                </li>
                <li>
                  <span class="tag">Activity</span> Separate rankings for
                  section &amp; friends leaderboards
                </li>
                <li>
                  <span class="tag">Home</span> Global member submission
                  statistics
                </li>
                <li>
                  <span class="tag">Feedback</span> Send us your bug reports
                  &amp; feature requests!
                </li>
              </ul>
            </div>
            <h4>Bug Fixes</h4>
            <div class="content">
              <ul>
                <li>
                  <span class="tag">Activity</span> Hide teachers in global
                  leaderboard
                </li>
                <li>
                  <span class="tag">Course &amp; Activity</span> Fix display of
                  overdue deadlines
                </li>
                <li>
                  <span class="tag">Stability</span> Added CI/CD (automatic
                  linting, testing, and deployment)
                </li>
              </ul>
            </div>
          </td>
        </tr>
        <!-- 0.0.4 -->
        <tr>
          <td>
            <p>Dec 15, 2020</p>
          </td>
          <td>
            <h3>v0.0.4</h3>
            <h4>New Features</h4>
            <div class="content">
              <ul>
                <li>
                  <span class="tag">Profile</span> Improved social preview when
                  sharing
                </li>
                <li><span class="tag">Home</span> New theme-based design</li>
                <li>
                  <span class="tag">Course &amp; Activity</span> Clearer
                  activity/problem status badges and deadlines
                </li>
              </ul>
            </div>
          </td>
        </tr>
        <!-- 0.0.3 -->
        <tr>
          <td>
            <p>Dec 10, 2020</p>
          </td>
          <td>
            <h3>v0.0.3</h3>
            <h4>New Features</h4>
            <div class="content">
              <ul>
                <li>
                  <span class="tag">Release Notes</span> See all the awesome new
                  features!
                </li>
              </ul>
            </div>
            <h4>Bug Fixes</h4>
            <div class="content">
              <ul>
                <li>
                  <span class="tag">Auth</span> Clean-up names imported from NU
                  Connect (no more ALL-CAPS)
                </li>
                <li>
                  <span class="tag">Profile</span> Fixed cropping for portrait
                  avatars
                </li>
                <li>
                  <span class="tag">Home &amp; Course</span> Fixed total
                  percentage
                </li>
                <li>
                  <span class="tag">Leaderboards</span> Update leaderboard
                  avatars when profile updated
                </li>
              </ul>
            </div>
          </td>
        </tr>
        <!-- 0.0.2 -->
        <tr>
          <td>
            <p>Dec 8, 2020</p>
          </td>
          <td>
            <h3>v0.0.2</h3>
            <h4>New Features</h4>
            <div class="content">
              <ul>
                <li>
                  <span class="tag">Social</span> Banner image when sharing
                </li>
              </ul>
            </div>
            <h4>Bug Fixes</h4>
            <div class="content">
              <ul>
                <li>
                  <span class="tag">Auth</span> Logout now properly logs out of
                  NU Connect
                </li>
                <li>
                  <span class="tag">Stability</span> So many code-quality
                  improvements
                </li>
                <li>
                  <span class="tag">Emu</span> Tells bird puns while starting
                  the emulator
                </li>
              </ul>
            </div>
          </td>
        </tr>
        <!-- 0.0.1 -->
        <tr>
          <td>
            <p>Dec 3, 2020</p>
          </td>
          <td>
            <h3>v0.0.1</h3>
            <h4>First public release</h4>
          </td>
        </tr>
      </table>
    </div>
  </section>
</div>
