@import '@/scss/variables';

.brand {
  font-size: 1.25rem;
  font-weight: 700;
}

.brand sup {
  margin-left: 0.25rem;
  padding-bottom: 0.5rem;
  font-size: 0.5rem;
}

.codee-version {
  cursor: pointer;
}

.codee-version:hover {
  background-color: darken($primary, 5%);
}

.content .made-by {
  margin-bottom: 12px;
}

.content .built-with {
  margin-bottom: 8px;

  a {
    padding: 4px;
  }

  .built-with-vue,
  .built-with-eslint {
    padding: 2px;
  }

  img {
    height: 20px;
  }
}

.missing {
  color: $disabled;
  font-size: 0.8rem;
  font-style: italic;
}

.notifications-icon {
  position: relative;
}

.notifications-badge {
  position: absolute;
  top: 12px;
  right: 8px;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 9999px;
}

.notification-item {
  min-width: 18rem;
  white-space: normal;
}
