@import '@/scss/variables';

.problem {
  display: flex;
  align-items: center;

  .status {
    margin-right: 1rem;
  }

  .status .tag {
    min-width: 3rem;
  }
}

.deadline {
  &.urgent {
    color: $danger;
  }
}
